<h1>Conditions</h1>

<table>
  <tbody>
<%= for condition <- @conditions do %>
    <tr>
      <td><%= link condition.name, to: Routes.condition_path(@conn, :show, condition) %></td>
    </tr>
<% end %>
  </tbody>
</table>
