<%= form_for @changeset, @action, fn f -> %>
  <div id="doctor-form-name-input">
    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </div>

  <div id="doctor-form-type-input">
    <%= select(f, :type_id, @doctor_types) %>
  </div>

  <div id="doctor-form-submit-input">
    <%= submit "Save" %>
  </div>
<% end %>
