<h1 class="doctor-name-input-title">Create DOCTOR</h1>

<%= if @changeset.action do %>
  <div class="doctor-name-error alert alert-danger">
    <%= if @changeset.errors[:name] do %>
      Name <%= @changeset.errors[:name] |> elem(0) %>
    <% end %>
  </div>
<% end %>

<%= ReactPhoenix.ClientSide.react_component("Components.GameNameInput", @changeset.changes) %>
<%= render "form.html", Map.put(assigns, :action, Routes.doctor_path(@conn, :create)) %>
