<h1>Show Doctor</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @doctor.name %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= if @doctor.type do %>
      <%= @doctor.type.name %>
    <% end %>
  </li>
</ul>

<span><%= link "Edit", to: Routes.doctor_path(@conn, :edit, @doctor) %></span>
<span><%= link "Back", to: Routes.doctor_path(@conn, :index) %></span>
