<h1>Doctor types</h1>

<table>
  <tbody>
<%= for doctor_type <- @doctor_types do %>
    <tr>
      <td><%= link doctor_type.name, to: Routes.doctor_type_path(@conn, :show, doctor_type) %></td>
    </tr>
<% end %>
  </tbody>
</table>
