<section class="phx-hero">
  <h1>Welcome</h1>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <%= link "Doctor type", to: Routes.doctor_type_path(@conn, :index) %>
      </li>
      <li>
        <%= link "Doctors", to: Routes.doctor_path(@conn, :index) %>
      </li>
    </ul>
  </article>
</section>
